section.page.about#about  
  .info
    h1 Hiper Mercado Kero 
    p.info__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos error doloremque, pariatur unde a natus, adipisci 
      | fugiat quo corporis nulla ad quia ipsa aperiam? Architecto atque sed vitae, inventore fuga blanditiis odio sint ducimus 
      | recusandae dignissimos, vero autem ut repudiandae! Minima non quasi, nam asperiores a tenetur alias cum !
    p.info__text Lorem ipsum dolor sit, amet consectetur adipisicing elit. Eos error doloremque, pariatur unde a natus, adipisci   
      | fugiat quo corporis nulla ad quia ipsa aperiam? Architecto atque sed vitae, inventore fuga blanditiis odio sint ducimus 
      | recusandae dignissimos, vero autem ut repudiandae! Minima non quasi, nam asperiores a tenetur alias cum!
    p.info__text Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus ex praesentium odio. 
      | Lorem ipsum dolor sit amet.
  .details  
    h1 Nossas Qualidades
    .detail
      p.detail__title Principios
      p.detail__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora a delectus commodi maiores consequuntur 
        | necessitatibus cumque porro reprehenderit tenetur autem reiciendis
    .detail
      p.detail__title Missão  
      p.detail__text Lorem, ipsum dolor sit amet consectetur adipisicing ept. Tempora a delectus commodi maiores consequuntur 
        | necessitatibus cumque porro reprehenderit tenetur autem reiciendis
    .detail
      p.detail__title Valores  
      p.detail__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora a delectus commodi maiores consequuntur 
        | necessitatibus cumque porro reprehenderit tenetur autem reiciendis
    //- .detail
    //-   li.detail__title Principio 
    //-   p.detail__text Lorem, ipsum dolor sit amet consectetur adipisicing elit. Tempora a delectus commodi maiores consequuntur 
    //-     | necessitatibus cumque porro reprehenderit tenetur autem reiciendis 
  .socials
    ul
      -
        const imgLocation = `src/assets/SVGs/sprite.svg#icon-`
      a(target="_blank" href="https://www.facebook.com").social  
        svg.social__icon
          use(xlink:href=`${imgLocation}facebook2`) 
        span Facebook
      a(target="_blank" href="https://www.instagram.com").social  
        svg.social__icon
          use(xlink:href=`${imgLocation}instagram`) 
        span Instagram
      li.social  
        svg.social__icon
          use(xlink:href=`${imgLocation}whatsapp`)  
        span 923546342
      li.social
        svg.social__icon
          use(xlink:href=`${imgLocation}phone`)  
        span 92343534 / 912434534
      li.social
        svg.social__icon
          use(xlink:href=`${imgLocation}envelop`)  
        span geral@kero.co.ao
      li.social 
        svg.social__icon
          use(xlink:href=`${imgLocation}location2`)
        span Luanda Cacuaco, Sequele
  form.contact-box.form
    h1 Deixe-nos uma mensagen
    input.form-element(type='text' placeholder='nome')#messagename
    input.form-element(type='number' placeholder='telefone')#messagenumber
    textarea.form-element#messagetext(placeholder="Sua mensagen")
    input.btn#btn(type='submit' value='Enviar')
  form.signup-box.form
    h1 Seje nosso cliente
    input.form-element#signupname(type='text' placeholder='nome')
    input.form-element#signupemail(type='email' placeholder='email')
    input.form-element#signupnumber(type='number' placeholder='telefone')
    input.form-element#signuppassword(type='password' placeholder='senha')
    input.form-element#signuppasswordconfirm(type='password' placeholder='confirma senha')
    input.btn#signupbtn(type='submit' value='Quero ser um cliente')  