-
  const imgLocation = `src/assets/SVGs/sprite.svg#icon-`

aside.aside 
  .logo Kero
  svg.toggle-btn
    use(xlink:href=`${imgLocation}paragraph-justify`) 
  nav.nav 
    ul.nav__list
      - 
        const navItems = [
          ['Início', 'home', 'home'],
          ['Produtos', 'products', 'stack'],
          ['Carrinho', 'carrinho', 'cart'],
          ['Sobre', 'about', 'address-book']
        ]

      each item in navItems
        li.nav__item
          a(href=`#${item[1]}`).nav__link
            span.nav__title= item[0]
            svg.nav__icon 
              use(xlink:href=`${imgLocation}${item[2]}`) 